:root {
  // color
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #e2eaed;
  --color-gray-nickel: #b9b9b8;
  --color-blue: #242f51;
  --color-sky: #2500f9;
  --color-orange: #feaa25;
  --color-mid-gray: #616368;
  --color-red: #f55767;
  --color-light-blue: #2563ff;
  --color-green: #40975f;
  --color-lavender-blush: #ffecef;
  --color-milk-punch: #fff6d3;
  --color-titan-white: #f4f4ff;
  --color-lily-white: #eaf9ff;
  --color-hint-green: #e4ffee;
  --color-manatee: #999ca5;
  --color-accordion: #f5f7fa;
  --color-footer: #09142e;
  --color-icons: #273043;

  // fonts
  --font-family-bold: 'Poppins-Bold';
  --font-family-light: 'Poppins-Light';
  --font-family-regular: 'Poppins-Regular';
  --font-family-medium: 'Poppins-Medium';

  --font-light: 300 16px / 140% var(--font-family-light);
  --font-regular: 400 16px / 140% var(--font-family-regular);
  --font-medium: 500 16px / 140% var(--font-family-medium);
  --font-bold: 700 16px / 140% var(--font-family-bold);
}
